<!-- component.html -->
<div class="my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white"
        style="background-color: hsl(0, 1%, 34%)">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4"
            style="background-color: #292727">
            <!-- Left -->
            <div class="me-5">
                <span></span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="social-media-icons">
                <a href class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links -->
        <section class="Socialmedia">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">CNC Academy</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: hsl(0, 1%, 34%); height: 2px" />
                        <p>We offer a diverse range of CNC turning courses since
                            2009 also we tie-up with state and central Govt.
                            skill courses since 2016</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Machines We Have For
                            traning</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #ffffff; height: 2px" />
                        <p><a href="#!" class="text-white">VMC</a></p>
                        <p><a href="#!" class="text-white">LMW SMART PLUS</a></p>
                        <p><a href="#!" class="text-white">ACE JOBBER</a></p>
                        <p><a href="#!" class="text-white">MANUAL LATHE</a></p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #ffffff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> MIDC, Satpur Colony,
                            Nashik, Maharashtra 422007</p>
                        <p><i class="fas fa-envelope mr-3"></i>
                            cncacademynasik@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +91-982-2292-928</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
