:host {
    animation: display 1s ease-in-out;
}

@keyframes display {
    from {
        transform: translateY(-10%);
        opacity: 0.1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}








footer {
    background-color: #FBFAFA;
    margin-bottom: -100px;
}

i {
    color: red;
    margin-left: 2px;
}

/* component.scss */
@media screen and (max-width: 768px) {
    footer {
        width: 100%;
    }

    .Socialmedia {
        display: none;
    }

}