:host {
    animation: display 1s ease-in-out;
}


.card {

    margin-top: 50px;

}

.card .card-body {
    padding: 50px;
}

@keyframes display {
    from {
        transform: translateY(-10%);
        opacity: 0.1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


#map-container {
    margin-left: 40px;

    height: 400px;

}

.address {

    text-align: left;
    margin-top: 250px;
    position: absolute;
    margin-left: 30px;
}

#talk a {
    color: hsl(0, 1%, 34%);
    text-decoration: none;

}


#m {
    list-style: none;
}

.smedia {
    align-items: center;
}



#card2 {
    width: 28rem
}

@media (min-width: 768px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 23rem
    }

    #card2 {
        width: 24rem
    }

}