:host {
    animation: display 1s ease-in-out;
}

@keyframes display {
    from {
        transform: translateY(-10%);
        opacity: 0.1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

}

.card {

    margin-bottom: 20px;
    /* Adjust the vertical space between the cards */
}