:host {
    animation: display 1s ease-in-out;
}

@keyframes display {
    from {
        transform: translateY(-10%);
        opacity: 0.1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.element-to-animate {
    position: relative;
    padding: 20px;
}



.title {
    text-align: center;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 100px;
    margin: 0;
    padding: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: #ffffff00;
}

.title h4 {

    font-size: 20px;
    margin: 0;
    padding: 0;
}

.cncimg {
    text-align: center;
    margin-bottom: 40px;
}

.cncimg img {
    height: auto;
    width: 100%;
    max-width: 650px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title h1 {
        font-size: 50px;
        margin: 0;
        padding: 0;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
        color: #ffffff00;
    }

    .title {
        flex: 1 1 100%;
        text-align: center;
    }

    .cncimg {
        flex: 1 1 100%;
        text-align: center;
    }
}